*{
    padding:0%;
    margin:0%;
}

.inner_div {
    background-image: url("../icon.svg");
    /* The image used */
    background-color: #e6e6e6;
    padding:80px;
    /* Used if the image is unavailable */
    /*height: 520px;*/
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.inner-box {
    /*height: 350px;*/
    width: 420px;
    /*border: 2px solid rgb(23, 156, 177);*/
    border-radius: 20px;
    box-shadow: 2px 2px 25px rgb(23, 156, 177),inset -2px -2px 25px rgb(23, 156, 177,0.2);

    /*box-shadow: inset -2px -2px 15px rgb(242, 174, 59), inset 2px 2px 15px rgb(0, 0, 0), -2px -2px 15px rgb(242, 174, 59), 2px 2px 15px rgb(0, 0, 0);*/
    /*overflow:scroll;*/
}


a[href] {
    text-decoration: none;
}
.inner-box:hover {
    box-shadow: inset 2px 2px 10px rgb(23, 156, 177),inset -2px -2px 25px rgb(23, 156, 177,0.2);
    transition: 1s;
    transform: scale(1.02);
}

.inner-box-edit {
    /*border: 2px solid rgb(23, 156, 177);*/
    border-radius: 40px;
    width:500px;
    /*border-bottom-right-radius: 40px;*/
    box-shadow: 2px 2px 25px rgb(23, 156, 177);
    /*overflow:scroll;*/
}
.inner-box-edit:hover {
    box-shadow:inset 2px 2px 10px rgb(23, 156, 177);
    transition: 1s;
    transform: scale(1.02); 
}

.top-box {
    border-bottom: 3px solid rgb(23, 156, 177);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.dot-css {
    text-shadow: -2px -2px 10px #1CE815;
}
ion-icon{
    color:white;
}
ion-icon:hover {
    color: rgb(49, 210, 242);
    position: relative;
    top: -2px;
}

.tabs1 {
    background: rgb(251, 232, 63);
    background: radial-gradient(circle, rgba(251, 232, 63, 0.43040966386554624) 0%, rgba(219, 252, 70, 0.427608543417367) 100%);
}

.logo_login{
    width:160px;
    height:90px;
    margin-bottom:10px;
}

.input_field {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(23, 156, 177);
    outline: transparent;
    padding-left: 3px;
}

.input_field:focus {
    border-bottom: 2px solid rgb(242, 174, 59);
}

.btn-submit {
    background: transparent;
    border-radius: 8px;
    border: 1px solid rgb(23, 156, 177);
    color:rgb(23, 156, 177);
    font-weight:bold;
    padding-top: 6px;
    padding-bottom: 6px;
}

.btn-submit:hover {
    background: rgb(23, 156, 177);
    color:white;
}

.box_stats {
    display: inline-block;
    width: 265px;
    background-color: rgb(23, 156, 177);
    padding:10px;
    border-radius: 12px;
}
.box_stats:hover {
    position:relative;
    top:-2px;
    box-shadow: 2px 2px 15px black;
}
