@using payment.Models;
@model Login;
@{
    ViewData["Title"] = "Login";
}


<div class="container-fluid inner_div pb-5 d-flex justify-content-center align-items-center flex-column">
    <div class="p-4 inner-box">
        <div class="text-center"><img src="~/3.png" class="logo_login" /></div>
    <div class="fs-2 mt-2 fw-bold text-center">
        ADMIN PENEL
    </div>
    <form class="mt-4" method="post" autocomplete="off">
      <div class="mb-3">
        <input type="text" class="input_field" maxlength="50" asp-for="username" id="Name" placeholder="User ID"/>
        <span asp-validation-for="username" class="text-danger text-start"></span>  
    </div>
      <div class="mb-3">
        <input type="password" class="input_field mt-3" id="DisplayOrder" asp-for="password" placeholder="Password"/>
        <span asp-validation-for="password" class="text-danger text-start"></span>    
    </div>
    <div class="mb-3">
        <input type="checkbox"/> Remember me
    </div>
      <button type="submit" class="btn-submit fw-bold container mb-2">LOGIN</button>

    </form>
    </div>
    <div class="text-center mt-3">
    <a class="btn btn-outline-danger rounded-pill" asp-action="Index" asp-controller="Home"><i class="bi bi-arrow-bar-left"></i>&nbsp; Back</a>
    </div>
</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}