@{
    ViewData["Title"] = "Home Page";
}

        <section>
            <div class="front_picture d-flex justify-content-end">
                <div class="rounded-2 text-center pt-2 pe-2 ps-2 m-5 front_form">
                    <form class="d-flex flex-column">
                        <div class="mb-3">
                            <input type="text" placeholder="Location..." class="form-control form-control-sm">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-sm" placeholder="Property Type">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-sm" placeholder="Area">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-sm" placeholder="Balcony">
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control input_width d-inline form-control-sm" placeholder="Any Bed">
                            <input type="text" class="form-control input_width d-inline form-control-sm" placeholder="Any Bath">
                        </div>
                        <div class="mb-1 text-start">
                            <input
                                type="radio"
                                class="form-check-input"
                                name="t1"
                                value="rent"
                            >
                            <b class="fornt_tex">&nbspRent</b>
                            <input
                                type="radio"
                                class="form-check-input"
                                name="t1"
                                value="sale"
                            >
                            <b class="fornt_tex">&nbspSale</b>
                        </div>
                        <div class="mb-1 text-start">
                            <div>
                                <b class="fornt_tex">$36000</b>
                                <b class="float-end fornt_tex">$54000</b>
                            </div>
                            <input type="range" class="form-range">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm fw-bold">SEARCH LISTING</button>
                    </form>
                </div>
            </div>
        </section>
        <main>
            <div class="text-center mt-3">
                <span class="fs-2 fw-bold text-primary">Latest News</span>
            </div>
            <div class="container d-flex justify-content-center flex-wrap">
                <div class="box_pro rounded-1 me-2 mb-2">
                    <div class="text-center fw-bold">
                        Property 1
                    </div>
                    <div class="box_img d-flex flex-column justify-content-end">
                        <div class="ms-1 mb-1">
                            <button class="btn btn-primary btn-sm">For Sale</button>
                        </div>
                    </div>
                    <div>
                        <div class="d-inline">
                            <ion-icon name="pin" class="text-primary bed"></ion-icon>
                        </div>
                        <div class="d-inline">Lorem Lorem Lorem</div>
                    </div>
                    <div>
                        <div class="d-inline ms-1">
                            <span class="text-primary">Area:</span>&nbsp 16233ft..
                        </div>
                        <div class="d-inline float-end">
                            <ion-icon name="bed" class="bed_icon text-primary"></ion-icon> 4
                        </div>
                    </div>
                </div>
                <div class="box_pro rounded-1 me-2 mb-2">
                    <div class="text-center fw-bold">
                        Property 2
                    </div>
                    <div class="box_img d-flex flex-column justify-content-end">
                        <div class="ms-1 mb-1">
                            <button class="btn btn-primary btn-sm">For Sale</button>
                        </div>
                    </div>
                    <div>
                        <div class="d-inline">
                            <ion-icon name="pin" class="text-primary bed"></ion-icon>
                        </div>
                        <div class="d-inline">Lorem Lorem Lorem</div>
                    </div>
                    <div>
                        <div class="d-inline ms-1">
                            <span class="text-primary">Area:</span>&nbsp 16233ft..
                        </div>
                        <div class="d-inline float-end">
                            <ion-icon name="bed" class="bed_icon text-primary"></ion-icon> 4
                        </div>
                    </div>
                </div>
                <div class="box_pro rounded-1 me-2 mb-2">
                    <div class="text-center fw-bold">
                        Property 3
                    </div>
                    <div class="box_img d-flex flex-column justify-content-end">
                        <div class="ms-1 mb-1">
                            <button class="btn btn-primary btn-sm">For Sale</button>
                        </div>
                    </div>
                    <div>
                        <div class="d-inline">
                            <ion-icon name="pin" class="text-primary bed"></ion-icon>
                        </div>
                        <div class="d-inline">Lorem Lorem Lorem</div>
                    </div>
                    <div>
                        <div class="d-inline ms-1">
                            <span class="text-primary">Area:</span>&nbsp 16233ft..
                        </div>
                        <div class="d-inline float-end">
                            <ion-icon name="bed" class="bed_icon text-primary"></ion-icon> 4
                        </div>
                    </div>
                </div>
                <div class="box_pro rounded-1 me-2 mb-2">
                    <div class="text-center fw-bold">
                        Property 4
                    </div>
                    <div class="box_img d-flex flex-column justify-content-end">
                        <div class="ms-1 mb-1">
                            <button class="btn btn-primary btn-sm">For Sale</button>
                        </div>
                    </div>
                    <div>
                        <div class="d-inline">
                            <ion-icon name="pin" class="text-primary bed"></ion-icon>
                        </div>
                        <div class="d-inline">Lorem Lorem Lorem</div>
                    </div>
                    <div>
                        <div class="d-inline ms-1">
                            <span class="text-primary">Area:</span>&nbsp 16233ft..
                        </div>
                        <div class="d-inline float-end">
                            <ion-icon name="bed" class="bed_icon text-primary"></ion-icon> 4
                        </div>
                    </div>
                </div>
                <div class="box_pro rounded-1 me-2 mb-2">
                    <div class="text-center fw-bold">
                        Property 5
                    </div>
                    <div class="box_img d-flex flex-column justify-content-end">
                        <div class="ms-1 mb-1">
                            <button class="btn btn-primary btn-sm">For Sale</button>
                        </div>
                    </div>
                    <div>
                        <div class="d-inline">
                            <ion-icon name="pin" class="text-primary bed"></ion-icon>
                        </div>
                        <div class="d-inline">Lorem Lorem Lorem</div>
                    </div>
                    <div>
                        <div class="d-inline ms-1">
                            <span class="text-primary">Area:</span>&nbsp 16233ft..
                        </div>
                        <div class="d-inline float-end">
                            <ion-icon name="bed" class="bed_icon text-primary"></ion-icon> 4
                        </div>
                    </div>
                </div>
                <div class="box_pro rounded-1 me-2 mb-2">
                    <div class="text-center fw-bold">
                        Property 6
                    </div>
                    <div class="box_img d-flex flex-column justify-content-end">
                        <div class="ms-1 mb-1">
                            <button class="btn btn-primary btn-sm">For Sale</button>
                        </div>
                    </div>
                    <div>
                        <div class="d-inline">
                            <ion-icon name="pin" class="text-primary bed"></ion-icon>
                        </div>
                        <div class="d-inline">Lorem Lorem Lorem</div>
                    </div>
                    <div>
                        <div class="d-inline ms-1">
                            <span class="text-primary">Area:</span>&nbsp 16233ft..
                        </div>
                        <div class="d-inline float-end">
                            <ion-icon name="bed" class="bed_icon text-primary"></ion-icon> 4
                        </div>
                    </div>
                </div>
                <div class="box_pro rounded-1 me-2 mb-2">
                    <div class="text-center fw-bold">
                        Property 7
                    </div>
                    <div class="box_img d-flex flex-column justify-content-end">
                        <div class="ms-1 mb-1">
                            <button class="btn btn-primary btn-sm">For Sale</button>
                        </div>
                    </div>
                    <div>
                        <div class="d-inline">
                            <ion-icon name="pin" class="text-primary bed"></ion-icon>
                        </div>
                        <div class="d-inline">Lorem Lorem Lorem</div>
                    </div>
                    <div>
                        <div class="d-inline ms-1">
                            <span class="text-primary">Area:</span>&nbsp 16233ft..
                        </div>
                        <div class="d-inline float-end">
                            <ion-icon name="bed" class="bed_icon text-primary"></ion-icon> 4
                        </div>
                    </div>
                </div>
                <div class="box_pro rounded-1 me-2 mb-2">
                    <div class="text-center fw-bold">
                        Property 8
                    </div>
                    <div class="box_img d-flex flex-column justify-content-end">
                        <div class="ms-1 mb-1">
                            <button class="btn btn-primary btn-sm">For Sale</button>
                        </div>
                    </div>
                    <div>
                        <div class="d-inline">
                            <ion-icon name="pin" class="text-primary bed"></ion-icon>
                        </div>
                        <div class="d-inline">Lorem Lorem Lorem</div>
                    </div>
                    <div>
                        <div class="d-inline ms-1">
                            <span class="text-primary">Area:</span>&nbsp 16233ft..
                        </div>
                        <div class="d-inline float-end">
                            <ion-icon name="bed" class="bed_icon text-primary"></ion-icon> 4
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_img d-flex justify-content-center align-items-center bg-danger">
                <div class="text-light fs-3 fw-bold text-center">
                    <p>Want to sale your property? Contact Us Now</p>
                    <button class="contact_us_btn ps-4 pe-4 pb-1 pt-1 mt-4">CONTACT US</button>
                </div>
            </div>
            <div class="agents mt-3">
                <div class="text-primary text-center fs-2 fw-bold">Meet Our Agents</div>
                <div class="container d-flex justify-content-center flex-wrap">
                    <div class="box_agent rounded-1 me-2 mb-2">
                        <div class="text-center fw-bold">
                            Agent 1
                        </div>
                        <div class="box_img_agent"></div>
                        <div>
                            <div class="d-inline">
                                <ion-icon name="pin" class="text-primary bed"></ion-icon>
                            </div>
                            <div class="d-inline">Lorem Lorem Lorem</div>
                        </div>
                        <div style="cursor: pointer;">
                            <ion-icon name="logo-facebook"></ion-icon>
                            <ion-icon name="logo-twitter"></ion-icon>
                            <ion-icon name="logo-instagram"></ion-icon>
                            <ion-icon name="logo-github"></ion-icon>
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </div>
                        <div class="text-primary">
                            More Details...
                        </div>
                    </div>
                    <div class="box_agent rounded-1 me-2 mb-2">
                        <div class="text-center fw-bold">
                            Agent 2
                        </div>
                        <div class="box_img_agent"></div>
                        <div>
                            <div class="d-inline">
                                <ion-icon name="pin" class="text-primary bed"></ion-icon>
                            </div>
                            <div class="d-inline">Lorem Lorem Lorem</div>
                        </div>
                        <div style="cursor: pointer;">
                            <ion-icon name="logo-facebook"></ion-icon>
                            <ion-icon name="logo-twitter"></ion-icon>
                            <ion-icon name="logo-instagram"></ion-icon>
                            <ion-icon name="logo-github"></ion-icon>
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </div>
                        <div class="text-primary">
                            More Details...
                        </div>
                    </div>
                    <div class="box_agent rounded-1 me-2 mb-2">
                        <div class="text-center fw-bold">
                            Agent 3
                        </div>
                        <div class="box_img_agent"></div>
                        <div>
                            <div class="d-inline">
                                <ion-icon name="pin" class="text-primary bed"></ion-icon>
                            </div>
                            <div class="d-inline">Lorem Lorem Lorem</div>
                        </div>
                        <div style="cursor: pointer;">
                            <ion-icon name="logo-facebook"></ion-icon>
                            <ion-icon name="logo-twitter"></ion-icon>
                            <ion-icon name="logo-instagram"></ion-icon>
                            <ion-icon name="logo-github"></ion-icon>
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </div>
                        <div class="text-primary">
                            More Details...
                        </div>
                    </div>
                    <div class="box_agent rounded-1 me-2 mb-2">
                        <div class="text-center fw-bold">
                            Agent 4
                        </div>
                        <div class="box_img_agent"></div>
                        <div>
                            <div class="d-inline">
                                <ion-icon name="pin" class="text-primary bed"></ion-icon>
                            </div>
                            <div class="d-inline">Lorem Lorem Lorem</div>
                        </div>
                        <div style="cursor: pointer;">
                            <ion-icon name="logo-facebook"></ion-icon>
                            <ion-icon name="logo-twitter"></ion-icon>
                            <ion-icon name="logo-instagram"></ion-icon>
                            <ion-icon name="logo-github"></ion-icon>
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </div>
                        <div class="text-primary">
                            More Details...
                        </div>
                    </div>
                </div>
            </div>
        </main>
